@charset "UTF-8";


body{
	margin: 0px;
	padding: 0px;
}
.main {
	margin-left: 0px;
	width: 100%;
}
.menu {
	width: 100%;
	background-color: #ad7fa8;
	padding: 20px;
	
}


.menu ul {
	margin: 0;  
	list-style: none;
}

.menu ul li {
	display: inline;
	padding: 20px;

	
}

.menu ul li a {
	display: inline-block;
	color: white;
	text-decoration: none;
	text-align:center;
}

.menu ul li:hover {
	background-color: #87CEEB;
}

footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: #1C1C1C;
	height: 200px;
	color: white;
	text-align: center;
}
